* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
justify-content: flex-end;
gap: 1em;
}

hr{
margin-top: 50px;
}

@media screen and (min-width: 850px) {

.media-card {
    display: flex;
    gap: 1em;
}

.media-card-content {
    max-width: 600px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > .media-card {
    flex: 0 0 50%;
    align-items: center;
    padding-right: 1em;
}
}
              