#content {
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    padding: 1em;
    max-width: 900px;
}

hr {
    height: 2px;
    max-width: 600px;
    background-color: blue;
}

#content > p {
    color:blue;
}

#topics li {
    list-style: none;
    text-align: left;
    padding-left: 200px;
}