body{
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

.container {
    font-family: Helvetica, Arial, sans-serif;
}

.container h2 {
    color:#AF1B3F;
}

.navMenu, .footerText {
    margin: 0 auto;
    border-top: 2px solid #EFC69B;
    padding: 1rem;
    border-bottom: 2px solid #EFC69B;
}

.navMenu > ul {
    display: grid;
    grid-template-columns:7fr 1fr 1fr;
    padding-left: 15em;
    justify-content: end;
    justify-items: end;
}

.navMenu li, a {
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
    font-weight: bold;
    font-size: 20px;
    color: #AF1B3F;
}

.bookInfo {
    text-align: right;
    padding-right: 2em;
    margin-bottom: 50px;
}

.bookDescription {
    max-height: 580px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.bookDescription img{
    width: 60%;
    max-width: 250px;
}

.bookDescription p {
    max-width: 450px;
}

.footerText {
    margin-top: 5em;
    font-weight: bold;
    color: #AF1B3F;
    text-align: center;
}

.skiptocontent a {
	position: absolute;
    top: -40px;
    color: darkgray;
}
.skiptocontent a:focus {
    padding: 15px;
    background-color: #74551a;
	top: 0px;
}

@media screen and (min-width: 1000px) {

    header {
        margin-bottom: 5em;
    }

    .navMenu > ul {
        padding-right: 5em;
    }

    #article-wrap{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .bookInfo {
        grid-column: 1/2;
        border-right: 2px solid #EFC69B;
    }

    .bookDescription {
        grid-column: 2/3;
    }

    .filter {
        margin-right: 5em;
        grid-column: 3/4;
        grid-row: 1/4;
        border: 2px solid #EFC69B;
    }

}